* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background: url("images/bg-pattern-top-mobile.svg") no-repeat top,
    url("images/bg-pattern-bottom-mobile.svg") no-repeat bottom,
    hsl(0, 0%, 100%);
  background-size: 100% auto;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  color: hsl(300, 43%, 22%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.main {
  width: 375px;
  margin: 6em 0;
}

.aboutUs-title {
  padding: 0 2em;
  margin-bottom: 1em;
}

.aboutUs-p {
  color: hsl(303, 10%, 53%);
  line-height: 1.5em;
  margin-bottom: 2.5em;
}

.ratings {
  width: 100%;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  font-weight: 700;
  border-radius: 7px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.rating:last-child {
  margin-bottom: 3rem;
}

.rating-content i {
  padding: 0 0.3em;
  margin-bottom: 1em;
  color: rgb(221, 135, 22);
}

.comments {
  text-align: left;
}

.comment {
  background-color: hsl(300, 43%, 22%);
  font-size: smaller;
  line-height: 1.9em;
  color: hsl(0, 0%, 100%);
  padding: 2em 1.5em;
  border-radius: 7px;
  margin-bottom: 1.5em;
}

.comment-title {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.comment-title img {
  height: 40px;
  border-radius: 50%;
  margin-right: 2em;
}

.comment-author p {
  color: hsl(333, 80%, 67%);
  letter-spacing: 0.1em;
}

.comment-author p .name {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 1rem;
}

footer {
  font-size: 11px;
  margin-bottom: 1.5em;
}
footer a {
  color: hsl(327, 45%, 44%);
  text-decoration: none;
}

footer a:hover {
  border-bottom: 1px solid hsl(327, 45%, 44%);
}

@media (min-width: 60em) {
  body {
    background: url("images/bg-pattern-top-desktop.svg") no-repeat left 260px
        top,
      url("images/bg-pattern-bottom-desktop.svg") no-repeat left 370px bottom
        hsl(0, 0%, 100%);
    font-size: 1.1rem;
  }

  .main {
    min-width: 60em;
    margin-top: 19em 0;
  }

  .aboutAndRatings {
    display: flex;
    justify-content: space-between;
  }

  .aboutUs {
    width: 40%;
    text-align: left;
  }

  .aboutUs-title {
    font-size: 3.2rem;
    line-height: 3.2rem;
    padding: 0;
    padding-right: 2em;
    margin-bottom: 0.3em;
  }

  .aboutUs-p {
    margin-bottom: 4.5em;
  }

  .ratings {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .rating {
    width: 65%;
    margin-right: 3.5em;
  }

  .rating:first-child {
    margin-right: 7em;
  }

  .rating:last-child {
    margin-right: 0em;
  }

  .rating-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
  }

  .rating-content i {
    margin-bottom: 0;
  }

  .rating-content p {
    padding-top: 0.35em;
    margin-left: 2em;
  }

  .comments {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .comment {
    margin-right: 2em;
    margin-top: 2em;
  }

  .comment:first-child {
    margin-top: 0;
  }

  .comment:last-child {
    margin-right: 0;
    margin-top: 4em;
  }
}
