* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url("images/bg-pattern-top-mobile.svg") no-repeat top,
    url("images/bg-pattern-bottom-mobile.svg") no-repeat bottom,
    hsl(0, 0%, 100%);
  background-size: 100% auto;
  font-family: "Spartan", sans-serif;
  font-size: 0.9375em;
  color: hsl(300, 43%, 22%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* overflow-x: hidden; */
}

.main {
  max-width: 23.4375em;
  margin: 6em 0;
}

.aboutUs-title {
  font-size: 2rem;
  letter-spacing: -0.05em;
  line-height: 1em;
  padding: 0 0.8em;
  margin-bottom: 0.6em;
}

.aboutUs-p {
  color: hsl(303, 10%, 53%);
  font-weight: 500;
  line-height: 1.7em;
  /* padding: 0 0.9em; */
  margin-bottom: 2.59em;
}

.ratings {
  width: 100%;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 0.4375em;
  padding: 1.2em 0;
  margin-bottom: 1.3em;
}

.rating:last-child {
  margin-bottom: 3rem;
}

.rating-content i {
  /* width: 2em; */
  padding: 0 0.25em;
  margin-bottom: 1em;
  color: rgb(221, 135, 22);
  transform: scale(1.1);
}

.comments {
  text-align: left;
}

.comment {
  background-color: hsl(300, 43%, 22%);
  font-size: 0.8rem;
  line-height: 1.9em;
  color: hsl(0, 0%, 100%);
  padding: 3em 2.9em 2.5em;
  border-radius: 7px;
  margin-bottom: 1.5em;
}

.comment-title {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.comment-title img {
  height: 40px;
  border-radius: 50%;
  margin-right: 2em;
}

.comment-author p {
  color: hsl(333, 80%, 67%);
  letter-spacing: 0.1em;
}

.comment-author .name {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 1rem;
}

footer {
  font-size: 11px;
  margin-bottom: 1.5em;
}
footer a {
  color: hsl(327, 45%, 44%);
  text-decoration: none;
}

footer a:hover {
  border-bottom: 1px solid hsl(327, 45%, 44%);
}

@media (min-width: 67em) {
  body {
    background: url("images/bg-pattern-top-desktop.svg") no-repeat left 260px
        top,
      url("images/bg-pattern-bottom-desktop.svg") no-repeat left 370px bottom
        hsl(0, 0%, 100%);
    font-size: 1.1rem;
  }

  .main {
    min-width: 67em;
    margin-top: 19em 0;
  }

  .aboutAndRatings {
    display: flex;
    justify-content: space-between;
  }

  .aboutUs {
    width: 43%;
    text-align: left;
  }

  .aboutUs-title {
    font-size: 2.9rem;
    line-height: 1em;
    padding: 0;

    padding-right: 2.1em;
    margin-bottom: 0.3em;
  }

  .aboutUs-p {
    font-size: 1rem;
    padding-right: 1em;
    margin-bottom: 3em;
  }

  .ratings {
    width: 57%;
    /* padding: 0 2em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .rating {
    width: 70%;
    margin-right: 3.5em;
  }

  .rating:first-child {
    margin-right: 7em;
  }

  .rating:last-child {
    margin-right: 0em;
  }

  .rating-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2em;
    /* padding-left: 1em; */
  }

  .rating-content i {
    margin-bottom: 0;
  }

  .rating-content p {
    padding-top: 0.35em;
    margin-left: 2em;
  }

  .comments {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .comment {
    margin-right: 2em;
    margin-top: 1em;
  }

  .comment:first-child {
    margin-top: 0;
  }

  .comment:last-child {
    margin-right: 0;
    margin-top: 2em;
  }
}
